@import '../settings/breakpoints';


html {
  margin-top: 0 !important;
}

:root{
  --main-color : #FDE37F;
  font-family: Cuprum, sans-serif;
  font-weight: 400;
}

.sro{
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  width: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
}

.site{
  background-color: var(--main-color);
  color: black;
  text-decoration: none;
  font-size: 1.25em;
  padding: 1em;
  font-family: Cuprum, sans-serif;
  display: block;
  width: max-content;
  margin-top: 2em;
}

.js-only {
  display: none !important;
}
.js-enabled .js-only{
  display: block !important;
}

/** {
  outline: 1px solid red;
}*/

main{
  max-width: $big-desktop;
  margin: auto;
}

@media (min-width: $desktop) {
  .js-enabled .js-only{
    display: none !important;
  }
}

@media (min-width: $max-width) {
  div{
    font-size: clamp(1em, 3vw, 2.7em);
    line-height: 1.5em;
  }
}

